# Dossiers de données
coco_export/
coco_export/*
data/
categorized_mask/
categorized_mask/*

categorized_mask_v2/
categorized_mask_v2/*



categorized_thumbnail_windows_224_224/
categorized_thumbnail_windows_224_224/*

saved_models/
saved_models/*

# Modèles sauvegardés
saved_models/
*.pt
*.pth

# Résultats et sorties
results/
visualizations/
*.npy

# Cache Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Système macOS
.DS_Store
._*

# Système Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Fichiers IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log 